<!-- https://coolors.co/bce7fd-c492b1-af3b6e-424651-21fa90 -->

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
}

#bar {
    flex: 0 1 auto;
}

#control {
    top: 0.20em;
    right: 0.20em;
    cursor: pointer;
    border-radius: 100em;
    border: solid;
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0.25em;
    float: right;
    font-size: 2em;
    transition: opacity 0.5s;
    user-select: none;
}

#control:hover {
    opacity: 0.90;
}

#nameBanner {
    float: left;
    font-size: calc((10vw + 10vh) / 4);
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0.25em;
}

#pads {
    flex: 1 1 auto;
    display: grid;
    grid-gap: 0px;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.pad {
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    margin: auto;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transition: transform 0.1s ease-out, border 0.1s ease-out;
}

.pad:active {
    transform: translate(2px, 2px);
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

#menu {
    margin: auto auto;
    padding: 1.5em;
    border-radius: 0.25em;
    box-shadow: 0 4px 40px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    transition: opacity 1s;
}

#name {
    font-size: 2em;
    text-align: center;
}

#button {
    font-size: 1.5em;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;
}

#button:hover {
    opacity: 0.90;
}

#instructions {
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
}

#loading {
    position: absolute;
    top: calc(50vh - 16px);
    left: calc(50vw - 16px);
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-clip-rotate,
 .la-ball-clip-rotate > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-clip-rotate {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-clip-rotate.la-dark {
     color: #333;
 }
 .la-ball-clip-rotate > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-clip-rotate {
     width: 32px;
     height: 32px;
 }
 .la-ball-clip-rotate > div {
     width: 32px;
     height: 32px;
     background: transparent;
     border-width: 2px;
     border-bottom-color: transparent;
     border-radius: 100%;
     -webkit-animation: ball-clip-rotate .75s linear infinite;
        -moz-animation: ball-clip-rotate .75s linear infinite;
          -o-animation: ball-clip-rotate .75s linear infinite;
             animation: ball-clip-rotate .75s linear infinite;
 }
 .la-ball-clip-rotate.la-sm {
     width: 16px;
     height: 16px;
 }
 .la-ball-clip-rotate.la-sm > div {
     width: 16px;
     height: 16px;
     border-width: 1px;
 }
 .la-ball-clip-rotate.la-2x {
     width: 64px;
     height: 64px;
 }
 .la-ball-clip-rotate.la-2x > div {
     width: 64px;
     height: 64px;
     border-width: 4px;
 }
 .la-ball-clip-rotate.la-3x {
     width: 96px;
     height: 96px;
 }
 .la-ball-clip-rotate.la-3x > div {
     width: 96px;
     height: 96px;
     border-width: 6px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }
 @-moz-keyframes ball-clip-rotate {
     0% {
         -moz-transform: rotate(0deg);
              transform: rotate(0deg);
     }
     50% {
         -moz-transform: rotate(180deg);
              transform: rotate(180deg);
     }
     100% {
         -moz-transform: rotate(360deg);
              transform: rotate(360deg);
     }
 }
 @-o-keyframes ball-clip-rotate {
     0% {
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
     }
     50% {
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
     }
     100% {
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
     }
 }
 @keyframes ball-clip-rotate {
     0% {
         -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
                 transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
              -o-transform: rotate(180deg);
                 transform: rotate(180deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
              -o-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
 }