<!-- https://coolors.co/bce7fd-c492b1-af3b6e-424651-21fa90 -->

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#app {
    display: grid;
    grid-gap: 1px;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}

.pad {
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    margin: auto;
}